header {
  background-color: bisque;
  padding: 20px;
  background-image: url("cover.jpeg");
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 8px;
  right: 16px;
  margin: 30px 10px 30px 10px;
}


.icon {
  margin: 2px;
  width: 31px;
  height: 30px;
  border: 2px solid white;
  padding: 2px;
  border-radius: 120px;
  opacity: 1;
}

.flex {
  position: relative;
  text-align: justify;
  display: column;
  width: fit-content;
  margin: 50px;
}

.flex-item-1 {
  font-family: 'CustomFont', Roboto, regular;
  color: white;
  font-size: 12px;
  text-align: justify;
  margin-top: 45px;

}

.flex-item-2 {
  font-family: 'CustomFont', montserrat, bold;
  font-weight: bold;
  color: white;
  font-size: 35px;
  text-align: justify;


}

.flex-item-3 {
  font-family: 'CustomFont', montserrat, bold;
  font-weight: bold;
  color: white;
  font-size: 36px;
  text-align: justify;
}

.flex-item-4 {
  font-family: 'CustomFont', montserrat, bold;
  font-weight: bold;
  color: white;
  font-size: 23px;
  text-align: justify;
}

.me {
  position: absolute;
  right: 16px;
  margin: 20px 10px 20px 10px;
  border: 2px solid white;
  padding: 2px;
  border-radius: 120px;
  opacity: 1;
  width: 150px;
  height: 150px;
}

.sectionA {
  background-color: #F4F4F4;
  padding: 50px;
  text-align: center;
  font-family: 'CustomFont', montserrat;
}