body {

  background: white;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  font-size: 22px;
  line-height: 30px;
  overflow-x: hidden;
  max-width: 100%;
}

header {
  background-color: bisque;
  padding: 20px;
  background-image: url("cover.jpeg");
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-box {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 8px;
  right: 16px;
  margin: 30px 10px 30px 10px;
  object-fit: cover;

}


.icon-link {
  margin: 2px;
  width: 31px;
  height: 30px;
  border: 3px solid white;
  padding: 2px;
  border-radius: 120px;
  opacity: 1;
  text-align: center;
  padding: 5px;
}

.icon {
  width: 25px;
}

.flex {
  position: relative;
  text-align: justify;
  display: column;
  width: fit-content;
  margin: 50px;
}

.flex-item-1 {
  font-family: 'Roboto', serif;
  color: white;
  font-size: 12px;
  text-align: justify;
  margin-top: 45px;

}

.flex-item-2 {
  font-family: 'Montserrat';
  font-weight: bolder;
  color: white;
  font-size: 63px;
  text-align: justify;
  margin:20px;


}

.flex-item-3 {
  font-family: 'montserrat', bold;
  font-weight: bold;
  color: white;
  font-size: 58px;
  text-align: justify;
  margin: 20px;
}


.flex-item-4 {
  font-family: 'montserrat', bold;
  font-weight: bold;
  color: white;
  font-size: 38px;
  text-align: justify;
  margin: 20px;
}

.me {
  position: absolute;
  right: 16px;
  margin: 20px 10px 20px 10px;
  border: 4px solid white;
  border-radius: 120px;
  opacity: 1;
  width: 150px;
  height: 150px;
}

.sectionA {
  background-color: white;
  padding: 50px;
  font-family: 'montserrat';
  align-content: stretch;
}

.text-area {
  margin: 10px 10%;
  font-family: 'Montserrat', sans-serif;
  margin-top: 50px;
  font-size: 18px;
  line-height: 35px;
}


.redline {
  height: 3px;
  width: 50px;
  background: red;
  position: relative;
  float: left;
  top: 12px;
  margin-right: 10px;
}

.redline::after {
  content: '';
  height: 10px;
  width: 10px;
  position: relative;
  float: right;
  top: -3px;
  right: -1px;
  border-radius: 50%;
  background: red;
}

.sectionB {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  height: auto;
  margin: 10px 0px;
  padding: 30px 20%;
  background-color: rgb(227, 194, 194)
}

h1 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  background-color: red;
  color: white;
  display: inline-block;
  padding: 5px;
  text-align: center;
  box-sizing: border-box;
  font-size: 30px;
}

span {
  color: red;
  font-weight: bold;
}

.sectionC {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  max-width: 100%;
  padding: 30px 10px;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  background-color: red;
  color: white;
  display: inline-block;
  padding: 5px;
  text-align: center;
  box-sizing: border-box;
  font-size: 30px;
}

.sectionD {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  height: auto;
  margin: 10px 0px;
  padding: 30px 20%;
  background-color: rgb(227, 194, 194)
}
.sprint-article{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
}
.article{
  height:220px;
  width:250px;
}
.articleTitle{
  font-size: 12px;
  color:black;

}
.sectionE {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin: 20px;
  padding: 20px;
  max-width: 100%;
  font-family: 'Montserrat', sans-serif;
  background-color: white;
  color:black;
}

h5 {
  text-transform: uppercase;
  background-color: red;
  color: white;
  display: inline-block;
  padding: 5px;
  text-align: center;
  box-sizing: border-box;
  font-size: 30px;
  margin: 10px 5px;
}
p{
  font-size: 16px;
}

.sectionF {
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(206, 189, 176);
  max-width: 90%;
  padding: 30px 10%;
  display: flex;
  justify-content: space-around;
  background-color: rgb(227, 194, 194);
}

.links {
  display: flex;
  justify-content: space-around;
  margin: 10px;
  width: 80%;
}

.footer-btn {
  border: 3px solid white;
  object-fit: cover;
  display: flex;
  padding: 40px;
  margin: 10px;
  border-radius: 50%;
}

btn-footer-img {
  height: 60px;
  width: 60px;
}

.final {
  color: white;
}
footer{
  display:block;
  text-align: center;
  color:black;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
}

h6{
  font-size: 16px;
  font-weight: bolder;
}